{% extends "base.html" %}

{% block title %}
    Авторизация
{% endblock %}

{% block body %}

<h1>Авторизация</h1>

 <form method="post" action="{% url 'login' %}">
 <div class="form-group">
        {% csrf_token %}

        {{ form.username.label_tag }}
        {{ form.username }}

        <br>

        {{ form.password.label_tag }}
        {{ form.password }}

        <br>

        <input type="submit" value="Login">
 </div>
    </form>

    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>






{% endblock %}